:root {
    --backPanelColor: #E0CFFC;
    --tileColor: #A3CFBB;
    --btnColor: rgb(129, 183, 212);
}

@font-face {
    font-family: "mhf";
    src: url('../fonts/michellehandwritting.ttf') format("opentype");;
}

body {
    background-color: var(--backPanelColor);
    font-family: "mhf";
}

.underlineInput {
    border: 0;
    background-color: var(--backPanelColor);
    border-bottom: 2px solid grey;
    text-align: center;
}

.underlineInput:focus {
    outline: none;
    box-shadow: none;
}

/*-------*/

.letterDisplay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 1rem;
    padding: 1rem;
}

.playerDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.letter {
    background-color: var(--tileColor);
}

.playerTable {
    border-style: solid;
    border-color: black;
    border: 5px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }