:root {
    --backPanelColor: rgb(228, 204, 153);
    --tileColor: rgb(87, 204, 122);
  }
  
body {
    background-color: var(--backPanelColor);
    font-family: system-ui;}

.center{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1 1 auto;
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
    border-radius: 10px;
}

.letterDisplay{
    display: flex;

    flex-direction: col;
    align-items: center;
    justify-content: center;

    flex: 1 1 auto;
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
    border-radius: 10px;
}

.letter {
    color: rgb(255, 251, 251);
    font-size: 3rem;
    margin: 1rem;
    padding: 1.5rem;
    background-color: rgb(231, 141, 6);
    border-style: solid;
    border-radius: 10px;

    text-align: center;
    min-width: 2.5rem;

}

.guessBox {
    background-color: white;

    margin: 1rem;
    height: 1.25rem;
    width: 10rem;

    

    border-style: solid;
    border-radius: 5px;

}

.gameDiv {
    border-style: solid;
 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    border-style: solid;
    border: 5px;
    border-color: black;
    margin: 3px;
}